body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

a {
    text-decoration: none;
}

div {
    color: #FFF;
    background-color: #000;
}

#btn_reset {
    background: #000;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    height: 26px;
    margin: 2px;
    font-size: 14px;
    float: right;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    height: 42px;
}

#title {
    margin: 5px;
    height: 30px;
    line-height: 32px;
    border: 1px solid #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#title span {
    float: left;
    background: #000;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 5px;
    height: 24px;
    line-height: 24px;
    margin: 2px;
    padding: 0px 3px;
    font-size: 14px;
}

#container {
    margin: 42px auto 37px auto;
    width: 100%;
    max-width: 800px;
    background-color: #000;
}

#content {
    margin: 5px;
    border: 1px solid #FFF;
}

#content ul {
    padding: 0px;
    margin: 0px;
}

#content li {
    list-style: none;
    display: block;
    text-decoration: none;
    padding: 5px 2px 5px 2px;
    margin: 10px 2px;
    color: #09F;
    font-size: 18px;
    border: 1px dashed #333;
    overflow: hidden;
}

#content li span {
    float: right;
}

#content li p {
    margin: 5px 10px;
    font-size: 15px;
    color: #FFF;
}

#content ul .sel {
    border: 1px solid #0CF;
}

#content ul .done {
    color: #4B4;
}

#footer {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    max-width: 800px;
    margin: 37px auto 0px auto;
    height: 37px;
}

#info {
    margin: 5px;
    height: 25px;
    line-height: 27px;
    border: 1px solid #FFF;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}