body {
    margin: 0px;
    padding: 0px;
    background: #333;
}

div {
    color: #FFF;
}

a {
    text-decoration: none;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 42px;
    line-height: 42px;
    background: #0C0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#content {
    width: 300px;
    margin: 60px auto;
    border: 5px solid #999;
}

#content ul {
    padding: 0px;
    margin: 0px;
}

#content li {
    list-style: none;
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    margin: 0px;
    background-color: #555;
    color: #09F;
    font-size: 18px;
    font-weight: bold;
    border: 4px solid #999;
    overflow: hidden;
}